// @import 'styles';

html,
body {
  color: #202124;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
